# Note the registration token in the Gitlab UI is not the actual token that goes here.

# To get the actual token, you have to call
# gitlab-runner register --name my-runner --url https://emba.gnu.org --registration-token my-registration-token
# ...or in Docker...
# docker run --rm -it --name emba-dedicated-docker-runner --hostname emba-dedicated-docker-runner -v /var/run/docker.sock:/var/run/docker.sock -v /etc/gitlab-runner:/etc/gitlab-runner gitlab/gitlab-runner:latest register --url https://emba.gnu.org --registration-token my-registration-token
# ...and then copy it out of the config file it rewrote.

concurrent = {{ runners[ansible_hostname]['concurrent']|default(16) }}
check_interval = 0
# debug, info, warn, error, fatal, panic
log_level = "{{ runners[ansible_hostname]['log_level']|default('info') }}"

[session_server]
  session_timeout = 18000

[[runners]]
  name = "{{ runners[ansible_hostname]['name'] }}"
  url = "https://emba.gnu.org/"
  token = "{{ runners[ansible_hostname]['token'] }}"
  executor = "docker"
  pre_clone_script = '''
    git config --global http.proxy $HTTP_PROXY
    git config --global https.proxy $HTTPS_PROXY
    rm -f $CI_PROJECT_DIR/.git/shallow.lock
  '''
  environment = [
    "HTTPS_PROXY={{ https_proxy }}",
    "HTTP_PROXY={{ http_proxy }}",
    "NO_PROXY={{ no_proxy }}",
    "https_proxy={{ https_proxy }}",
    "http_proxy={{ http_proxy }}",
    "no_proxy={{ no_proxy }}"
  ]
  [runners.custom_build_dir]
  [runners.docker]
    tls_verify = false
    image = "{{ runners[ansible_hostname]['image'] }}"
    privileged = false
    disable_entrypoint_overwrite = false
    oom_kill_disable = false
    disable_cache = false
    volumes = {{ runners[ansible_hostname]['volumes']|to_json }}
    shm_size = 0
  [runners.cache]
    [runners.cache.s3]
    [runners.cache.gcs]
