[Unit]
Description=GITLAB Runner for Docker
Documentation=https://gitlab.com/gitlab-org/gitlab-ci-multi-runner/blob/master/docs/install/docker.md
AssertFileNotEmpty=/etc/gitlab-runner/config.toml
After=docker.service
Requires=docker.service

[Service]
Restart=on-abort
RestartForceExitStatus=1
RestartSec=15s
EnvironmentFile=-/etc/default/docker
ExecStartPre=-/usr/bin/docker kill gitlab-runner
ExecStartPre=-/usr/bin/docker rm gitlab-runner
ExecStart=/usr/bin/docker run --rm --name gitlab-runner \
  --hostname %H {{ runners[ansible_hostname]['systemd_extras']|default('') }} \
  -v /var/run/docker.sock:/var/run/docker.sock \
  -v /etc/gitlab-runner:/etc/gitlab-runner \
  gitlab/gitlab-runner:latest
ExecStop=/usr/bin/docker stop -t 15 gitlab-runner

[Install]
WantedBy=multi-user.target
