#!/bin/bash

MAILTO="${1}"

exec 1> >(/usr/bin/logger -s -t $(basename $0)) 2>&1

export HTTP_PROXY={{ http_proxy }}
export HTTPS_PROXY={{ https_proxy }}

log()
{
    echo "$1"
}

die()
{
    if [[ -n "${MAILTO}" ]]; then
        log "$1" | mail -s "$(basename $0): error" "${MAILTO}"
    else
        log "$1"
    fi
    exit 1
}


if [[ -d "{{ project.clonedir }}" ]]; then
    cd "{{ project.clonedir }}" && git fetch --all --prune && log "Refreshed {{ project.repo }} to {{ project.clonedir }} successfully"
    # check for "fatal: unable to access '...': The requested URL returned error: 504"
else
    git clone --bare --mirror "{{ project.repo }}" "{{ project.clonedir }}" && cd "{{ project.clonedir }}" && log "Cloned {{ project.repo }} to {{ project.clonedir }} successfully"
fi

if [[ $? -eq 0 ]]; then
    git push --all --force "{{ project.mirror }}" && log "Pushed {{ project.repo }} from {{ project.clonedir }} to {{ project.mirror }} successfully"
else
    die "Could not clone or fetch successfully, aborting"
fi
